body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(35, 64, 99);
}

.calculator_body {
  display: flex;
  justify-content: center;
}
.variable_decleration_body {
  margin-top: 2vh;
  margin-right: 20px;
  background-color: rgb(31, 160, 192);
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px #6d6d6d;
}

.variable_decleration_body h4 {
  text-align: center;
}

.variable_screen {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  padding: 20px;
  height: auto;
  border-radius: 5px;
  color: #6d6d6d !important;
  font-size: 30px;
  background-color: aliceblue;
}

.variable_screen .var_info ol li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.variable_screen .var_info ol li:last-child {
  margin-bottom: 0px;
}
.variable_screen .var_info ol li strong {
  color: rgb(31, 160, 192);
  font-size: 16px;
}
.variable_screen .var_info ol li em {
  color: rgb(201, 107, 107);
  font-size: 16px;
}

.variable_screen .var_info a {
  display: inline-block;
  cursor: pointer;
  color: rgb(31, 160, 192);
  border-top: solid rgb(31, 160, 192) 2px;
  border-bottom: solid rgb(31, 160, 192) 2px;
  padding: 5px;
  border-radius: 5px;
}

.variable_input {
  border-radius: 5px;
  background-color: aliceblue;
  color: #6d6d6d !important;
  font-size: 30px;
}

.variable_screen button {
  display: block;
  background-color: rgb(31, 160, 192);
  padding: 5px;
  margin-top: 15px;
  border-radius: 10px;
  color: aliceblue;
}

.history_body {
  margin-top: 2vh;
  margin-left: 20px;
  background-color: rgb(31, 160, 192);
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px #6d6d6d;
}

.history_body h4 {
  text-align: center;
}

.history_screen {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  padding: 20px;
  height: auto;
  border-radius: 5px;
  color: #6d6d6d !important;
  font-size: 30px;
  background-color: aliceblue;
}

.history_screen button {
  background-color: rgb(31, 160, 192);
  padding: 5px;
  border-radius: 10px;
  color: aliceblue;
  margin-left: 300px;
}

.aside_text {
  color: aliceblue;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 2px;
}

.history_item {
  font-weight: 600;
  padding: 5px;
}

.history_item a {
  display: inline-block;
  cursor: pointer;
  color: rgb(31, 160, 192);
  border-top: solid rgb(31, 160, 192) 2px;
  border-bottom: solid rgb(31, 160, 192) 2px;
  padding: 5px;
  border-radius: 5px;
}

.text {
  color: aliceblue;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
.container-calc-display {
  margin-top: 2vh;
  background-color: rgb(31, 160, 192);
  width: 420px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 5px 5px #6d6d6d;
}

#output-screen {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  padding: 20px;
  border-radius: 5px;
  color: #6d6d6d !important;
  font-size: 30px;

  background-color: aliceblue;
}

.container-calc-body {
  margin-top: 15px;
  background-color: rgb(31, 160, 192);
  width: 435px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 5px 5px #6d6d6d;
}
.calc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn-inputs {
  padding: 10px;
  margin: 10px;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
}

.container-calc-input {
  margin-top: 10px;
  background-color: rgb(31, 160, 192);
  width: 420px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 5px 5px #6d6d6d;
}

.container-calc-input .numberInput {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: aliceblue;
  color: #6d6d6d !important;
  font-size: 30px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  color: #6d6d6d !important;
  font-size: 30px;

  background-color: aliceblue;
}
